@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0D0D0D;
  color: white;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #0D0D0D; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #FF7A00; }
