@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Inter, sans-serif;
}

.bg-surface {
  background: #111;
}

.bg-surfaceHighlight {
  background: #1a1a1a;
}

.text-neon {
  color: #00f3ff;
}

.bg-neon {
  background: #00f3ff;
  color: #000;
}

.bg-neonHover {
  background: #06ddee;
}
